<form data-ng-submit="authCtrl.registerSubmit(authCtrl.data)">
  <input type="text" name="name" placeholder="Your name" data-ng-model="authCtrl.data.name">
  <input type="email" name="email" placeholder="Your email address" data-ng-model="authCtrl.data.email">
  <input type="password" name="password" placeholder="Your password" data-ng-model="authCtrl.data.password">
  <input type="password" name="confirm-password" placeholder="Confirm your password" "authCtrl.data.cpassword">
  <input type="submit" value="Register">
</form>

{{authCtrl.message}}